/* Utilities */
.bg-card {
    background-color: rgba(0, 0, 0, 0.5);
}


/* General */
header {
    height: 80px;
    background-color: #06131F;
    display: flex;
    align-items: center;
    padding: 1rem;
}

img {
    max-height: 100%;
    width: auto;
}

body {
    overflow: hidden;
}

main {
    height: calc(100vh - 80px);
    background-color: #1D2D3C;
}

/* Layout */

.row>* {
    margin: 3rem 0;
}

div.card {
    cursor: pointer;
}

.card .card-body {
    min-height: 170px;
}

.card div.active {
    display: block;
}

.fix-height {
    height: 468px;
}